body {
    width: 100%;
    overflow-x: hidden;
}
.w1200 {
    width: 1200px;
    margin: auto;
}
.yellow {
    color: #ffcc00;
}
.pink {
    color: #ee0f62;
}
.blue {
    color: #2f6bb1;
}
.pc_none {
    display: none;
}


/*------------------header start--------------------*/
.header_wrap {
    position: relative;
    z-index: 9999;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

.header_wrap.fix {
    position: fixed;
    width: 100%;
    top: -125px;
    background-color: #000;
}

header {
    width: 100%;
    height: 125px;
    padding: 30px 65px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: relative;
}

header h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

h1 img {
    width: 100%;
}

.logo_white {
    display: none;
    position: absolute;
    width: 132px;
    height: 38px;
    top: 45%;
    left: 2.8125%;
    transform: translateY(-50%);
}

nav.fix .logo_white {
    display: block;
}

.logo_white img {
    width: 100%;
}

header > ul {
    display: flex;
}

.link_nav li {
    min-width: 110px;
    height: 30px;
    line-height: 28px;
    border: 1px solid #555;
    margin: 0 5px;
}
.link_nav a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #000;
    text-align: center;
}

.link_nav li:nth-child(1) {
    border: 1px solid #ee0f62;
}
.link_nav li:nth-child(2) {
    border: 1px solid #2f6bb1;
}
.link_nav li:nth-child(3) {
    border: 1px solid #ffc000;
}

.util_nav li:first-child {
    display: flex;
}

.util_nav li:first-child > a {
    display: block;
    width: 28px;
    height: 23px;
    border: 1px solid #bebebe;
    border-left: none;
    text-align: center;
    line-height: 21px;
    font-size: 13px;
    color: #bebebe;
}

.util_nav li > a.font_p {
    border-left: 1px solid #bebebe;
}

.user {
    margin: 0 38px 0 30px;
}

.user > a {
    display: block;
    color: #000;
    font-size: 14px;
    line-height: 23px;
    font-weight: 700;
}

.search > a {
    display: block;
    width: 16px;
    height: 16px;
    margin-top: 4px;
    background-image: url(../img/icon/icn_search.png);
}

/* nav start */
.menu_clip {
    display: none;
}
.menu_clip.on {
    display: block;
    padding: 20px 0 32px;
}
::-webkit-scrollbar {
    display: none;
}

nav {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e6;
    z-index: 100;
}

nav.fix {
    background-color: #000;
}

nav > ul {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

nav.fix > ul {
    padding-left: 37px;
}

nav > ul > li {
    width: 16.666%;
}

nav > ul > li > a {
    display: block;
    width: 100%;
    height: auto;
    padding: 7px 0;
    color: #000;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    box-sizing: border-box;
}

nav.fix > ul > li > a {
    color: #fff;
}

.btn_nav {
    position: absolute;
    width: 26px;
    height: 20px;
    top: 50%;
    right: 65px;
    transform: translateY(-50%);
}

.btn_nav a {
    display: block;
    width: 100%;
    height: 100%;
}

.btn_nav span {
    display: block;
    height: 2px;
    float: right;
    background-color: #000;
    margin-bottom: 7px;
    transition: width 0.3s ease;
}
.btn_nav span:first-child {
    width: 26px;
}

.btn_nav span:nth-child(2) {
    width: 21px;
}

.btn_nav span:last-child {
    width: 15px;
}

.btn_nav a:hover span {
    width: 26px;
}

nav.fix .btn_nav span {
    background-color: #fff;
}


/* 클립 메뉴 시작 */
.menu_list{
    width: 1200px;
    margin: auto;
    position: relative;
}
.menu_list_item{
    display: flex;
}
.menu_list_item > p {
    width: 19.25%;
    padding: 0 10px 0 54px;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    box-sizing: border-box;
    line-height: 120px;
    background-repeat: no-repeat;
}
.menu_list_item > ul{
    display: block;
    width: 80.75%;
    flex-wrap: wrap;
    padding: 12px 0 13px 42px;
    box-sizing: border-box;
    position: relative;
    border-bottom: 1px solid #eaeaea;
}
.menu_list > a {
    width: 28px;
    height: 29px;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    background-image: url(../img/dcaf/icn_cross.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    z-index: 1;
}

.menu_list_item > ul > li:nth-of-type(1), 
.menu_list_item > ul > li:nth-of-type(4n+1),
.menu_list_item > ul > li:nth-of-type(4n+1),
.menu_list_item > ul > li:nth-of-type(5n+1),
.menu_list_item > ul > li:nth-of-type(5n+1),
.menu_list_item > ul > li:nth-of-type(4n+1),
.menu_list_item > ul > li:nth-of-type(4n+1),
.menu_list_item > .depthc > li:nth-child(6),
.menu_list_item > .depthd > li:nth-of-type(6) {
    width: 24.379719%;
}
.menu_list_item > ul > li:nth-of-type(2), 
.menu_list_item > ul > li:nth-of-type(4n+2), 
.menu_list_item > ul > li:nth-of-type(4n+2), 
.menu_list_item > ul > li:nth-of-type(5n+2), 
.menu_list_item > ul > li:nth-of-type(5n+2), 
.menu_list_item > ul > li:nth-of-type(4n+2), 
.menu_list_item > ul > li:nth-of-type(4n+2), 
.menu_list_item > ul > li:nth-of-type(4n), 
.menu_list_item > ul > li:nth-of-type(4n),
.menu_list_item > .depthc > li:nth-child(7),
.menu_list_item > .depthd > li:nth-of-type(7)  {
    width: 17.799352%;
}
.menu_list_item > ul > li:nth-of-type(3), 
.menu_list_item > ul > li:nth-of-type(4n+3), 
.menu_list_item > ul > li:nth-of-type(4n+3), 
.menu_list_item > ul > li:nth-of-type(5n+3), 
.menu_list_item > ul > li:nth-of-type(5n+3), 
.menu_list_item > ul > li:nth-of-type(4n+3), 
.menu_list_item > ul > li:nth-of-type(4n+3) {
    width: 25.674217%;
}
.menu_list_item > .depthc > li:nth-of-type(5n),
.menu_list_item > .depthd > li:nth-of-type(5n) {
    width: 10.355987%;
}

.menu_list_item > ul > li {
    width: 20%;
    display: inline-block;
    line-height: 3;
    margin-right: 0px;
}
.menu_list_item > ul > li > a{
    color: #000;
}
.menu_list_item:nth-child(3n-1) > p{
    border-bottom: 1px solid #0066b2;
    color: #0066b2;
}
.menu_list_item:nth-child(3n)>p{
    border-bottom: 1px solid #e24b84;
    color: #e24b84;
}
.menu_list_item:nth-child(3n-2)>p{
    border-bottom: 1px solid #f9a51a;
    color: #f9a51a;
}
.menu_list_item:nth-child(2)>p{
    background-position: 10px center;
    background-image: url(../img/dcaf/icn_nav1.png);
}
.menu_list_item:nth-child(3)>p{
    background-position: 12px center;
    background-image: url(../img/dcaf/icn_nav2.png);
}
.menu_list_item:nth-child(4)>p{
    background-position: 12px center;
    background-image: url(../img/dcaf/icn_nav3.png);
}
.menu_list_item:nth-child(5)>p{
    background-position: 11px center;
    background-image: url(../img/dcaf/icn_nav4.png);
}
.menu_list_item:nth-child(6)>p{
    line-height: 80px;
    background-position: 9px center;
    background-image: url(../img/dcaf/icn_nav5.png);
}
.menu_list_item:nth-child(7)>p{
    background-position: 12px center;
    background-image: url(../img/dcaf/icn_nav6.png);
}

.mob_menu {
    display: none;
}
input[id*="check"] {
    display: none;
}
.m__menu {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 19px;
    font-size: 20.01px;
    font-weight: 400;
    color: #fff;
    background-color: #0066b2;
    text-align: left;
    box-sizing: border-box;
    position: relative;
}

.m__menu > a {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(50%, -50%);
    background-image: url(../img/dcaf/75519.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
}
input[id*="check"] + label {
    display: block;
    line-height: 46px;
    border-bottom: 1px solid #fff;
    color: #000;
    cursor: pointer;
    background-color: #efefef;
    font-size: 18.01px;
    font-weight: 300;
    padding: 0 10px 0 44px;
}
input[id*="check"] + label + div{
    padding-left: 58px;
    max-height: 0;
    overflow: hidden;
}
input[id*="check"]:checked + label + div{
    max-height: 500px;
}
input[id*="check"] + label + div a{
    font-size: 15.01px;
    line-height: 3;
    color: #000;
}
.label1{
    background-size: 14px auto;
    background-position: 17px center;
    background-image: url(../img/dcaf/icn_nav1.png);
    background-repeat: no-repeat;
}
.label2{
    background-size: 14px auto;
    background-position: 17px center;
    background-image: url(../img/dcaf/icn_nav2.png);
    background-repeat: no-repeat;
}
.label3{
    background-size: 14px auto;
    background-position: 17px center;
    background-image: url(../img/dcaf/icn_nav3.png);
    background-repeat: no-repeat;
}
.label4{
    background-size: 14px auto;
    background-position: 17px center;
    background-image: url(../img/dcaf/icn_nav4.png);
    background-repeat: no-repeat;
}
.label5{
    background-size: 14px auto;
    background-position: 17px center;
    background-image: url(../img/dcaf/icn_nav5.png);
    background-repeat: no-repeat;
}
.label6{
    background-size: 14px auto;
    background-position: 17px center;
    background-image: url(../img/dcaf/icn_nav6.png);
    background-repeat: no-repeat;
}


/*-------------------footer start----------------*/
footer {
    width: 100%;
    background-color: #333;
}
.f_top {
    border-bottom: 1px solid #717171;
}
.f_top>ul {
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
}
.f_top>ul>li {
    width: 200px;
    text-align: center;
}
.f_top>ul a {
    color: rgba(255,255,255,.4);
    font-size: 14px;
}
.btn_b {
    display: inline-block;
    width: 130px;
    padding: 2px 0;
    border: 1px solid #51b5ff;
    border-radius: 20px;
    color: #51b5ff;
}
.f_bot>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
}.ft_mark {
    display: flex;
    width: 139px;
    justify-content: space-between;
}
.f_bot h1 {
    width: 200px;
    height: 100px;
}
address {
    width: calc(100% - 339px);
}
address ul {
    text-align: left;
}
address li {
    line-height: 1.42857;
    color: rgba(255,255,255,.4);
    font-size: 14px;
}
address li:first-child {
    margin-bottom: 17px;
    color: #fff;
}




/******* start max-width 1599px ********/
@media only screen and (max-width: 1599px) {
    nav > ul > li {
        width: 15.833333%;
    }

    nav.fix > ul > li {
        width: 12.916666%;
    }
}

/******* start max-width 1279px ********/
@media only screen and (max-width: 1279px) {
    nav > ul > li {
        width: 12.916666%;
    }
}

/******* start max-width 1200px ********/

@media only screen and (max-width: 1199px) {
    .mo_none {
        display: none !important;
    }
    .mob_menu {
        display: block !important;
    }
    .menu_list {
        display: none !important;
    }
    .menu_clip.on {
        display: block;
        padding: 0px 0 0px;
        height: calc(100vh - 148px);
        position: relative;
        top: -52px;
        left: auto;
        z-index: 999;
    }

    .pc_none {
        display: block;
    }

    .w1200 {
        width: 100%;
    }

    .header_wrap.fix header {
        margin: 0;
    }

    nav.fix {
        padding: 8px 0;
    }

    nav.fix .logo_white {
        width: 114px;
        top: 54%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    nav.fix .m_search {
        display: none;
    }

    header {
        flex-direction: column;
        padding: 8px 4px;
        margin-bottom: 20px;
    }

    header h1 {
        width: 114px;
        top: 80px;
        left: 12px;
        transform: translate(0);
    }

    header h1 img {
        width: 100%;
    }
    .link_nav {
        justify-content: center;
        flex-wrap: wrap;
    }

    .link_nav li {
        height: 23px;
        line-height: 22px;
    }
    .link_nav a {
        font-size: 12px;
    }

    .util_nav {
        justify-content: flex-end;
    }
    .user {
        margin: 0;
    }
    nav {
        height: 40px;
    }
    .btn_nav {
        width: 23px;
        right: 4px;
    }

    .btn_nav span {
        display: block;
        height: 2px;
        float: right;
        background-color: #000;
        margin-bottom: 5px;
    }
    .btn_nav span:first-child {
        width: 23px;
    }

    .btn_nav span:nth-child(2) {
        width: 18px;
    }

    .btn_nav span:last-child {
        width: 13px;
    }

    .m_search {
        position: absolute;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        width: 266px;
        border: 1px solid #d2d2d2;
        border-radius: 26px;
        padding-left: 20px;
    }
    .m_search > input {
        border: none;
        background: none;
        outline: none;
    }

    .m_search a {
        display: block;
        width: 26px;
        height: 26px;
        background-image: url(../img/icon/icn_search.png);
        background-repeat: no-repeat;
        background-position: center center;
    }
    @media screen and (max-width: 1200px){
        .menu-list{
            display: none;
        }
        .header_accordion{
            display: block;
        }
        /* header{
            overflow-y: scroll;
        } */
    }
    




    footer {
        width: 100%;
        background-color: #333;
        padding: 10px 0 150px;
    }
    .f_top {
        border-bottom: 1px solid #717171;
    }

    .f_top>ul {
        padding: 14px 0 17px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .f_top>ul>li {
        width: 33.3333%;
        text-align: center;
        
    }
    .f_top>ul>li:nth-of-type(-n+3) {
        margin-bottom: 8px;
    }
    .f_top>ul a {
        color: rgba(255,255,255,.4);
        font-size: 2.6vmin;

    }
    .btn_b {
        display: inline-block;
        width: 60%;
        padding: 2px 0;
        border: 1px solid #51b5ff;
        border-radius: 20px;
        color: #51b5ff;
    }
    .f_bot>div {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 10px 0;
        position: relative;
    }
    .ft_mark {
        display: flex;
        width: 139px;
        justify-content: space-between;
        margin-right: 20px;
    }
    .f_bot h1 {
        width: 200px;
        height: 100px;
        margin-left: 20px;
    }
    .f_bot h1 img {
        width: 100%;
    }
    address {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 10px 0;
        margin: 0 20px;
    }
    address span {
        display: block;
        width: 100%;
        padding: 3px 0 3px 230px;

    }
    address li {
        line-height: 1.42857;
        color: rgba(255,255,255,.4);
        font-size: 2.4vmin;
        display: inline-block;
    }
    address li:first-child {
        font-size: 3vmin;
        margin-bottom: 17px;
        color: #fff;
        width: 100%;
    }
    address li:last-child {
        color: #fff;
    }

}



