body {
    font-family: 'Noto Sans KR', sans-serif;
}
.w1200 {
    max-width: 1200px;
    margin: auto;
    text-align: center;

}

.topIntrosec{
    position: relative;
    width: 100%;  
    background-image: url(../img/dcaf_intro/sub_bg348.png);
}
.topIntrosec::after{
    content: "";
    position: absolute;
    top: 16%;
    width: 100%; height: 1px;
    background-color: #fff;
}
.topIntrosec_top{
    display: flex;
    align-items: center;
    width: 100%; height: 40px;
}
.topIntrosec_top>li{
    position: relative;
    width: 25%; height: 100%;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-left: 1px solid #fff;
}
.topIntrosec_top>li>ul{
    cursor: pointer;
    width: 100%; height: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    text-align: center;
    color: #fff;
}
.topIntrosec_sel{
    z-index: 999;
}
.topIntrosec_sel::after{
    content: "";
    position: absolute;
    top: 17px;
    right: 5.622489%;
    width: 8px; height: 7px;
    background: url('../img/dcaf_intro/icn_tri_down.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#topIntrosec_top1{display: none;}
#topIntrosec_top2{display: none;}
#topIntrosec_top3{display: none;}
.topIntrosec_sel>button{
    cursor: pointer;
    position: relative;
    width: 100%; height: 100%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    background: none;
    border: none;
    outline: none;
    padding: 0;
}
.topIntrosec_sel>button.on{ 
    background-color: #fff;
    color: #2b2b2b;
    font-weight: 700;
}
.topIntrosec_top>li>ul>li{
    background-color: #fff;
    font-size: 16px;
    line-height: 39px;
    color: #2b2b2b;
}
.Icowrap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Icowrap>span{
    cursor: pointer;
    display: block;
    width: 60px; height: 39px;
    background-position: center center;
    background-repeat: no-repeat;
}
.printIco{
    background-image: url(../img/dcaf_intro/icn_print.png);
}
.shareIco{
    background-image: url(../img/dcaf_intro/icn_sns.png);
}
.snswrap{
    display: none;
    height: auto;
    background-color: #fff;
    padding-bottom: 5px;
    border-radius: 0 0 50px 50px;
}
.snswrap>li>a{
    cursor: pointer;
    display: block;
    width: 100%; height: 36px;
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
}
.sns{background-image: url(../img/dcaf_intro/icn_sns2.png);}
.facebook{background-image: url(../img/dcaf_intro/icn_sns_fb.png);}
.naver{background-image: url(../img/dcaf_intro/icn_sns_nb.png);}
.twitter{background-image: url(../img/dcaf_intro/icn_sns_tw.png);}
.kakao{background-image: url(../img/dcaf_intro/icn_sns_ks.png);}
/**/
.topIntroArt{
    position: relative;
}
.topIntroArt>h2{
    font-size: 30px;
    color: #ffc000;
    text-align: center;
    padding: 51.5px;
}
.topIntrosec_bottom{
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255,255,255,.7);
}
.topIntrosec_bottom>li{
    cursor: pointer;
    width: 14.2%;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    text-align: center;
    line-height: 53px;
    white-space: nowrap;
}
.topIntrosec_lineO{
    position: absolute;
    bottom: 0;
    width: 14.2%; height: 3px;
    background-color: #ffc000;
}


.ms_title {
    display: inline-block;
    font-size: 40px;
    color: #000;
    position: relative;
    line-height: 1;
    font-weight: 400;
    margin-top: 60px;
}
.ms_titlebg {
    background: #ffc000;
    display: block;
    position: absolute;
    content: '';
    bottom: 74px;
    width: 95%;
    height: 14px;
    z-index: -1;
    left: 50%;
    transform: translate(-50%,0);
}
.ms_title:after {
    display: block;
    content: '';
    width: 1px;
    height: 30px;
    background: #000;
    margin: 20px auto;
}

.intro_titlebox {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
.intro_titleimg {
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}
.intro_titleimg>img {
    display: block;
    width: 100%;
    height: auto;
    border: 0;
}
.intro_titletxt {
    font-size: 1rem;
    text-align: justify;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    color: #3b3b3b;
    padding: 0 50px;
    box-sizing: border-box;
}
.intro_titletxt>p {
    padding-bottom: 30px;
    line-height: 30px;
}

.intro_business {
    margin-bottom: 100px;
}
.sec_title {
    text-align: left;
    border-left: 5px solid #ffc000;
    padding-left: 14px;
    font-size: 30px;
    line-height: 1;
    font-weight: 400;
    margin: 0 auto 25px;
    max-width: 1200px;
}
.intro_busilist {
    color: #000;
    margin-bottom: 100px;
}
.intro_busilist>li {
    padding: 50px 0;
    font-size: 0;
    border: 1px solid #e5e5e5;
    margin-bottom: -1px;
    position: relative;
}
.busilist_left {
    font-size: 0;
    width: 33.9166%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.busilist_ico {
    width: 40.5405%;
    height: 80px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .3;
    background-size: contain;
}
.type1 .busilist_ico {
    background-image: url(../img/dcaf_intro/intro-business-ico03.png);
}
.type2 .busilist_ico {
    background-image: url(../img/dcaf_intro/intro-business-ico01.png);
}
.type3 .busilist_ico {
    background-image: url(../img/dcaf_intro/intro-business-ico04.png);
}
.busilist_left h2 {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    font-weight: 500;
    width: 59.4594%;
    text-align: left;
    padding-right: 12.285%;
    box-sizing: border-box;
    word-break: keep-all;
}
.busilist_right {
    font-size: 1rem;
    width: 66.0833%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 50%;
}
.busilist_right>p {
    text-align: left;
}

.intro_visit {
    margin-bottom: 100px;
}
.list_title {
    text-indent: 15px;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 50px;
    text-align: left;
}
.list_title:before {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #000;
    display: block;
    content: '';
    position: absolute;
    top: 12px;
}
.table_contact {
    width: 100%;
    border-spacing: 0;
}
.table_contact .col1 {
    width: 15%;
    background: #f6f6f6;
    padding: 14px 0;
    text-align: center;
    vertical-align: top;
}
.table_contact tr:first-of-type .col1 {
    padding-top: 28px;
    border-top: 1px solid #000;
}
.table_contact .col3 {
    width: 83.75%;
    padding: 14px 1.1666%;
    padding-left: 3.75%;
    vertical-align: top;
    text-align: left;
}
.table_contact tr:first-of-type .col3 {
    padding-top: 28px;
    border-top: 1px solid #000;
}
.table_contact tr:last-of-type .col1 {
    padding-bottom: 28px;
    border-bottom: 1px solid #000;
}
.table_contact tr:last-of-type .col3 {
    padding-bottom: 28px;
    border-bottom: 1px solid #000;
}
.map iframe {
    width: 100%;
    height: 600px;
}

.scr {
    position: relative;
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
}
.table_bus {
    width: 1200px;
    border-spacing: 0;
    border-top: 2px solid #000;
}
.table_bus td {
    text-align: center;
    padding: 20px 0;
}
.table_bus thead {
    width: 9.4166%;
    background: #f6f6f6;
    min-height: 66px;
}
.table_bus th {
    padding: 20px 0;
}
.table-bus .col1 {
    width: 10.25%;
}
.table_bus .col2 {
    width: 10.25%;
}
.table_bus .col3 {
    width: 11.1666%;
}
.table_bus .col4 {
    width: 49.5%;
    text-align: left;
}
.table_bus thead .col4 {
    text-align: center;
}
.table_bus .col5 {
    width: 9.4166%;
}
.table_bus .col6 {
    width: 9.4166%;
}

.scr::-webkit-scrollbar {
    -webkit-appearance: none;
}
.scr::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}
.scr::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}
#for_totop{
    cursor: pointer;
    position: fixed;
    display: block;
    width: 60px; height: 60px;
    right: 23px; bottom: 21px;
    background: url(../img/dcaf_intro/totop.png) no-repeat center/100% 100%;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: opacity .25s linear, visibility .25s linear;;
}
#for_totop.on{
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width: 1195px) {
    .loc_wrap {
        display: none;
    }
    .sub_topcont {
        height: 98px;
    }
    .inner_title {
        font-size: 20px;
        font-weight: 300;
    }
    .depth3 {
        position: absolute;
        height: 47px;
        bottom: -47px;
        border-bottom: 1px solid #e4e2dd;
        white-space: nowrap;
        text-align: center;
        overflow-x: auto;
    }
    .depth3 li {
        width: auto !important;
        line-height: 46px;
        padding: 0 13px;
    }
    .depth3 li.active::after {
        bottom: 6px;
    }
    .depth3 li > a {
        font-size: 15px;
        font-weight: 300;
    }

    .ms_title {
        margin-top: 80px;
        font-size: 20px;
    }
    .ms_title:after {
        height: 16px;
        margin: 12px auto 14px;
    }
    .ms_titlebg {
        height: 7px;
        bottom: 44px;
    }
    address ul {
        text-align: left;
    }
}

@media screen and (max-width: 767px) {
    .w1200 {
        padding: 0 15px;
        box-sizing: border-box;
    }
    .intro_titlebox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .intro_titleimg {
        font-size: 1rem;
        display: inline-block;
        vertical-align: middle;
        width: 100%;
    }
    .intro_titletxt {
        width: 100%;
        padding: 4.1666%;
    }

}
