/*-----------main start--------------*/
/* (변경점) 스와이퍼1 적용 */
.mySwiper1 {
    max-width: 893.3333px !important;
    padding-top: 50px;
    box-sizing: border-box;
    overflow: hidden;
}

.mySwiper1 .swiper-wrapper {
    width: 100% !important;
}
.mySwiper1 .swiper {
    width: 75%;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.mySwiper1 .swiper-slide {
width: 280px !important;
margin-right: 26.6667px !important;
text-align: center;
font-size: 18px;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

.mySwiper1 .swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
transition: transform 0.3s;

}

.mySwiper1 .swiper-slide:hover img {
    transform: translate(0, -50px);
}

.swiper-pagination {
    max-width: 1920px !important;
    left: 3% !important;
    bottom: -85px !important;
}

.swiper-pagination-bullet {
    width: 14px !important;
    height: 14px !important;
    font-size: 0 !important;
    border: 2px solid #7d7d7d !important;
    border-radius: 20px !important;
    box-sizing: border-box !important;
    margin-right: 5px !important;
    background: transparent !important;
    margin-left: 0 !important;
    margin-right: 5px !important;
}
.swiper-pagination-bullet-active {
    width: 42px !important;
    background-color: #7d7d7d !important;
}
/* (변경점) 스와이퍼1 적용 끝 */

/* (변경점) 스와이퍼3(사업공모결과) */
.mySwiper3 {
    overflow: hidden;
}
.mySwiper3 .swiper-wrapper {
    display: flex;
    justify-content: flex-start;
}

.mySwiper3 .swiper-slide {
    width: 279px !important;
    display: flex;
    justify-content: space-between;
    margin-top: 115px;
}
.mySwiper3 .swiper-slide div {
    width: 279px; height: 420px;
    background-color: #fff;
    padding: 29px 20px 0;
    position: relative;
    box-sizing: border-box;
    transition: background .35s linear, transform .35s linear, opacity .35s linear;
}
.mySwiper3 .swiper-slide .type1:hover {
    background-color: #ccdcef;
}
.mySwiper3 .swiper-slide .type2:hover {
    background-color: #ffdaaa;
}
.mySwiper3 .swiper-slide .cur {
    display: block;
    width: 220px;
    height: 30px;
    padding: 2px 0;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    background-color: #fff;
    transition: border .35s linear;
}
.mySwiper3 .swiper-slide .type1 .cur {
    border: 1px solid #5c70af;
    color: #5c70af;
}
.mySwiper3 .swiper-slide .type2 .cur {
    border: 1px solid #cb9513;
    color: #cb9513;
}
.mySwiper3 .swiper-slide .title {
    position: relative;
    display: block;
    margin: 50px 0 0;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}
.mySwiper3 .swiper-slide .deco {
    position: absolute;
    display: block;
    width: 38px;
    height: 1px;
    top: 207px;
    left: 50%;
    background: #000;
    transform: translate(-50%, 0);
}

.mySwiper3 .swiper-slide .date {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 120px;
    display: block;
    font-size: 16px;
    /* margin: 113px auto 0; */
    font-weight: 400;
    color: #000;
    text-align: center;
}

.mySwiper3 .swiper-slide .more {
    position: absolute;
    display: block;
    width: 164px;
    bottom: 45px;
    left: 50%;
    padding: 6px 0;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;
    box-sizing: border-box;
    background: #fff;
    text-align: center;
    transform: translate(-50%, 0);
}

.mySwiper3 .swiper-slide .type1 .more {
    border: 1px solid #5c70af;
    color: #5c70af;
}
.mySwiper3 .swiper-slide .type2 .more {
    border: 1px solid #cb9513;
    color: #cb9513;
}
/* (변경점) 스와이퍼3(사업공모결과) 끝 */

/* (변경점) 공지사항/입찰/채용 */
.bnr_notice {
    margin-top: 77px;
}
.bnr_notice ul {
    display: inline-block;
    vertical-align: top;
    width: 380px;
    height: 506px;
    padding: 30px;
    border: 1px solid #fff;
    box-sizing: border-box;
    transition: background .2s linear, box-shadow .2s linear;
}
.bnr_notice ul:not(:last-of-type) {
    margin-right: 24px;
}
.bnr_notice ul:hover {
    background-color: #fff;
    box-shadow: 5px 5px 10px rgb(33 33 33 / 5%);
}

.bnr_notice li.title {
    position: relative;
    padding-bottom: 0;
    margin-bottom: 45px;
    font-size: 25px;
    font-weight: 400;
    text-align: left;
}
.bnr_notice li.title::before {
    position: absolute;
    display: block;
    content: "";
    width: 48px;
    height: 2px;
    bottom: -11px;
    left: 2px;
    background-color: #1279bc;
}
.bnr_notice li.title a {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: 50%;
    right: 0;
    font-size: 0;
    background-image: url(../img/dcaf/icn_plus3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(0,-50%);
}

.bnr_notice li:not(:last-of-type) {
    margin-bottom: 23px;
}

.bnr_notice li:not(:first-of-type) {
    height: 71px;
}

.bnr_notice li {
    text-align: right;
}

.bnr_notice li a {
    display: block;
    margin-bottom: 17px;
    font-size: 15px;
    color: #333;
    text-align: left;
}

.bnr_notice li a + .date {
    display: block;
    line-height: 1;
    padding-right: 6px;
    font-size: 14px;
    color: #808080;
}
/* (변경점) 공지사항/입찰/채용 끝 */

/* (변경점) 스와이퍼2(문화예술정보) */
.mySwiper2 {
    position: relative;
}

.mySwiper2 .swiper-slide {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .mySwiper2 .swiper-slide div {
    width: 24%; height: 200px;
    background-color: aquamarine;
    border: 1px solid #000;
  }

/* (변경점) 스와이퍼2(문화예술정보) 끝 */


/* (변경점) 탭메뉴 active */
.tab_third li.active {
    border-bottom: 4px solid #ff9f00;
    color: #000;
}
/* (변경점) 탭메뉴 active 끝 */

/*-----------first section start-----------*/
main {
    overflow: hidden;
}
.board {
    height: 796px;
    padding-top: 42px;
    background-color: #f3f3f5;
}
.tab_third {
    display: flex;
}
/* (변경점) 탭메뉴 a태그 제거 */
.tab_third>li {
    width: 33.3333%;
    padding: 11px 0;
    text-align: center;
    border-bottom: 2px solid #fff;
    font-size: 20px;
    color: #a2a2a2;
    font-weight: 700;
}
/* (변경점) 탭메뉴 a태그 제거 끝 */

/* (변경점) 탭메뉴 추가 설정 */
.tab_content {
    display: none;
}
.tab_content.active {
    display: block;
}
/* (변경점) 탭메뉴 추가 설정 끝 */

/* (변경점) 고정 배너 적용 */
.bnr_list {
    display: flex;
    justify-content: flex-start;
    padding-top: 71px;
}
.bnr_fixed {
    margin-right: 26.6667px;
    width: 280px;
    background-color: #f3f3f5;
    padding-top: 50px;
    box-sizing: border-box;
    z-index: 10;
}

.bnr_fixed img {
    z-index: 1;
    width: 280px;
    transition: transform 0.3s;
}
.bnr_fixed:hover img {
    transform: translate(0, -50px);
}
/* (변경점) 고정 배너 적용 끝 */


.sec_first img {
    position: absolute;
    display: block;
    width: 480px;
    height: 478px;
    top: -168px;
    right: -331px;
    z-index: -1;
}
.sec_first {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 112px;
    align-items: flex-end;
}
.sec_title>h2 {
    font-size: 50px;
    counter-reset: #000;
}
.sec_title>p {
    font-size: 20px;
    color: #3a4e5e;
    margin-top: 5px;
}
.btn_info>a {
    position: relative;
    display: block;
    color: #4a789a;
    border: 1px solid #4a789a;
    padding: 9px 47px;
    background-color: #fff;
}
.btn_info>a>.btn_ico {
    position: absolute;
    width: 45px; height: 44px;
    display: inline-block;
    opacity: 0;
    background-image: url(../img/dcaf/ico-main-artisthouse.png);
    background-repeat: no-repeat;
    background-position: center center;
    left: 0; top: 0;
}
.btn_info>a:hover {
    border: 2px solid #1d5681;
    color: #1d5681;
}
.btn_info>a:hover .btn_ico {
    opacity: 1;
}
.sb_tab {
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
}
.sb_tab li {
    width: 185px;
}
.sb_tab a {
    display: block;
    width: 100%;
    border: 1px solid #dcdcdc;
    padding: 11px 0;
    text-align: center;
    font-size: 20px;
    color: #dcdcdc;
    background-color: #fff;
}
.active_sb>a {
    padding: 9px 0;
    color: #1d5681;
    border: 3px solid #1d5681;
}
.sb_list_wrap {
    width: 100%;
    overflow: hidden;
    margin-top: 56px;
}
.sb_list {
    width: calc(100% + 20px);
    margin-left: -10px;
    display: flex;
    flex-wrap: wrap;
}
.sb_list>li {
    width: 25%;
}
.sb_list a {
    display: block;
    margin: 10px;
    width: calc(100% - 20px);
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    height: 200px;
    position: relative;
}
.cate {
    position: absolute;
    display: block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    top: 10px;
    right: 9px;
    font-size: 14px;
    color: #fff;
    border-radius: 50%;
    z-index: 20;
    text-align: center;
}
.t_blue {
    background-color: #2b80bf;
}
.t_gold {
    background-color: #9c7427;
}
.t_teal {
    background-color: #2c978e;
}
.t_purple {
    background-color: #7c1c81;
}

.sb_title {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sb_date {
    display: block;
    position: absolute;
    width: 100%;
    height: 24px;
    bottom: 20px;
    color: #5c5c5c;
    font-size: 16px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sb_status {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 40px;
    width: 103px;
    padding: 4px 10px;
    margin: 0 auto;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.yet {
    background-color: #bfbfbf;
}
.now {
    background-color: #f29a09;
}
.sb_thum {
    width: 100%; height: 100%;
    overflow: hidden;
    position: relative;
    display: none;
    width: 103.928571%;
    height: 110.606060%;
    top: -5.303030%;
    left: -1.964285%;
    box-shadow: 10px 10px 6px rgb(0 0 0 / 10%);

}
.sb_thum>img {
    width: 100%;
}
.sb_thum::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
    background-color: rgba(0, 0, 0, .3);
    background-image: url(../img/dcaf/icn_link.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.sb_list a:hover .sb_thum {
    display: block;
}



/*------------third section start------------*/
.culture {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}
.culture img {
    position: absolute;
    display: block;
    content: "";
    width: 480px;
    height: 478px;
    top: -180px;
    left: -358px;
    z-index: -1;
}
.cul_first {
    padding-top: 112px;
}
.cul_title h2 {
    font-size: 50px;
    counter-reset: #000;
}
.cul_title p {
    display: block;
    padding-left: 1px;
    margin-top: 18px;
    font-size: 20px;
    color: #746e5c;
}
.cul_menu {
    margin: 83px 0 116px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.cul_menu::before {
    position: absolute;
    display: block;
    content: "";
    width: 200%;
    height: 309px;
    top: 50%;
    left: -50%;
    background-color: #f3f3f5;
    z-index: -1;
}
.cul_menu::after {
    position: absolute;
    display: block;
    content: "";
    width: 361px;
    height: 359px;
    right: -306px;
    bottom: -74px;
    background: url(../img/dcaf/deco_gly1.png) no-repeat center/100% auto;
    z-index: -1;
}
.cul_menu li {
    width: 200px;
    height: 500px;
    display: flex;
    align-items: center;
    transform: rotateY(00deg);
}
.cul_menu li>a {
    width: 100%;
    display: block;
    position: relative;
    height: 500px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 100% auto;
    text-align: center;
    border-right: 1px solid #fff;

}
.cul_menu li::before {
    content: "";
    width: 200px;
    height: 500px;
    display: block;
    position: absolute;
    background-color: rgba(49, 49, 49, 0.9);
}
.cul_menu li:hover li:before {
    background-color: #1d5681;
}



.cul_menu li>.bg1 {
    background-image: url(../img/dcaf/bg_culist1.png);
}.cul_menu li>.bg2 {
    background-image: url(../img/dcaf/bg_culist2.png);
}.cul_menu li>.bg3 {
    background-image: url(../img/dcaf/bg_culist3.png);
}.cul_menu li>.bg4 {
    background-image: url(../img/dcaf/bg_culist4.png);
}.cul_menu li>.bg5 {
    background-image: url(../img/dcaf/bg_culist5.png);
}.cul_menu li>.bg6 {
    background-image: url(../img/dcaf/bg_culist6.png);
}
.cul_menu li>a>p {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
}
/****fourth section start*****/
.link {
    position: relative;
    width: 100%;
}
.link::before {
    position: absolute;
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #7a7a7a;
}
.link>div {
    position: relative;
    border-top: 1px solid rgb(207,207,207);
}

.link_top {
    display: flex;
    justify-content: center;
    color: #fff;
}
.link_top>div {
    width: 200px;
    line-height: 60px;
    font-size: 16px;
    text-align: center;
    background-color: #7a7a7a;
}
.link_top>ul {
    display: flex;
    width: 1000px;
    background-color: #fff;
    align-items: center;
    padding-left: 60px;
    box-sizing: border-box;

}
.link_top li {
    margin-right: 65px;
}
.link_bot {
    display: flex;
    justify-content: center;
    color: #fff;
}
.link_bot>div {
    width: 200px;
    line-height: 60px;
    font-size: 16px;
    text-align: center;
    background-color: #7a7a7a;
}
.link_bot>ul {
    display: flex;
    width: 1000px;
    background-color: #fff;
    align-items: center;
    padding-left: 60px;
    box-sizing: border-box;

}
.link_bot li {
    margin-right: 65px;
}
.link_bot li:nth-child(4) {
    margin-right: 73px;
}
.link>div>ul>.btn_box {
    margin-right: 0px;
}


@media screen and (max-width: 1199px) {
    /* (변경점) 스와이퍼1 반응형 */
    .mySwiper1 {
        overflow: visible;
        padding-top: 25px;
        box-sizing: border-box;
        max-width: 100% !important;
    }

    .mySwiper1 .swiper-wrapper {
        width: 70% !important;
    }
    .mySwiper1 .swiper {
        width: 75%;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .mySwiper1 .swiper-slide {
        width: 33.3333% !important;
        margin-right: 12px !important;
    }

    .mySwiper1 .swiper-slide:hover img {
        transform: translate(0, 0px);
    }
    .swiper-pagination {
        position: relative !important;
        z-index: 10 !important;
        bottom: -100px !important;
        left: -10% !important;
    }
    
    .swiper-pagination-bullet {
        width: 8px !important;
        height: 8px !important;
        margin-left: 0 !important;
        margin-right: 3px !important;
        border: 1px solid #7d7d7d !important;
    }
    .swiper-pagination-bullet-active {
        width: 22px !important;
    }

    .board {
        height: auto;
        padding-top: 0px;
        padding-bottom: 150px;
    }
    /* (변경점) 스와이퍼1 반응형 끝 */

    /* (변경점) 스와이퍼3 반응형*/
    .mySwiper3 {
        padding-top: 25px;
    }
    .mySwiper3 .swiper-slide {
        width: 66.5625vmin !important;
        min-width: 0;
        height: 211px;
        margin-top: 0px;
    }
    .mySwiper3 .swiper-slide div {
        width: 66.5625vmin !important;
        min-width: 0;
        height: 211px;
        padding: 15px 20px 0;
    }
    .mySwiper3 .swiper-slide .cur {
        width: 87.283236%;
        height: 26px;
        font-size: 13px;
    }
    .mySwiper3 .swiper-slide .title {
        margin: 16px 0 0;
        font-size: 13px;
    }
    .mySwiper3 .swiper-slide .deco {
        width: 17px;
        top: 106px;
    }
    
    .mySwiper3 .swiper-slide .date {
        bottom: 67px;
        font-size: 12px;
    }
    
    
    .mySwiper3 .swiper-slide .more {
        width: 100px;
        height: 24px;
        line-height: 22px;
        bottom: 21px;
        padding: 0;
        font-size: 13px;
    }
    /* (변경점) 스와이퍼3 반응형*/

    /* (변경점) 공지사항/입찰/채용 */
    .bnr_notice {
        padding: 0 2.5vmin 25px;
        margin: 25px 0 0;
    }
    .bnr_notice ul {
        width: 100%;
        height: auto;
        padding: 13px 23px 25px;
        background-color: #fff;
        box-shadow: 5px 5px 10px rgb(33 33 33 / 5%);
    }
    .bnr_notice > ul:not(:last-of-type) {
        margin-bottom: 3.75vmin;
    }
    .bnr_notice li.title {
        margin-bottom: 29px;
        font-size: 16.01px;
    }
    .bnr_notice li.title::before {
        width: 25px;
        bottom: -7px;
    }
    .bnr_notice li.title a {
        width: 11px;
        height: 11px;
        right: -5px;
    }

    .bnr_notice li:not(:last-of-type) {
        margin-bottom: 23px;
    }

    .bnr_notice li:not(:first-of-type) {
        height: auto;
    }

    .bnr_notice li {
        text-align: right;
    }

    .bnr_notice li a {
        margin-bottom: 5px;
        font-size: 13px;
    }

    .bnr_notice li a + .date {
        padding: 0;
        font-size: 12px;
    }

    .bnr_notice ul li:last-of-type:not(.empty) {
        display: none;
    }
    /* (변경점) 공지사항/입찰/채용 끝 */





    /* (변경점) 탭메뉴 a태그 제거 */
    .tab_third>li {
        font-size: 3.125vmin;
    }
    .tab_third>.active_underline {
        font-size: 3.90625vmin;
    }
    /* (변경점) 탭메뉴 a태그 제거 끝 */

    
    /* (변경점) 고정 배너 반응형 삭제 */
    .bnr_list {
        width: 133%;
        flex-flow: row nowrap;
        padding-top: 0;
    }

    .bnr_fixed {
        display: none;
    }
    /* (변경점) 고정 배너 반응형 삭제 끝 */
    .sec_first {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .sec_title span {
        display: block;
    }
    .sec_title>h2 {
        padding-top: 50px;
    }
    .btn_info {
        padding: 30px 0;
    }
    .sb_tab {
        justify-content: center;
    }
    .sb_tab li {
        width: 89px;
    }
    .sb_tab a {
        border-left: none;
        border-right: none;
    }
    .sb_list_wrap {
        overflow-x: scroll;
        width: 200%;
    }
    .sb_list {
        width: 200%;
        padding-bottom: 44px;
    }
    .sb_list>li {
        width: 45.3125vmin !important;
    }
    .cate {
        display: none;
    }
    .sb_thum {
        display: none;
    }
    .cul_first {
        background-color: #f3f3f5;
    }
    .sec_first {
        position: relative;
        display: flex;
        justify-content: center;
        padding-top: 24px;
        align-items: center;
    }
    .sec_title>h2 {
        font-size: 6.253125vmin;
        counter-reset: #000;
        text-align: center;

    }
    .sec_title>p {
        font-size: 3.4375vmin;
        color: #3a4e5e;
        margin-top: 5px;
        text-align: center;
    }
    .btn_info {
        padding: 0;
    }
    .btn_info>a {
        margin: 20px auto;
        float: none;
        font-size: 3.4375vmin;
    }
    .sb_tab a {
        padding: 4px 0;
        border-left: 0;
        border-right: 0;
        border-top-width: 2px;
        border-bottom-width: 2px;
        font-size: 3.90625vmin;
    }
    .sec_title span {
        display: block;
    }
    .cul_menu {
        flex-wrap: wrap;
        margin-top: 21px;
        margin-bottom: 0;
        justify-content: center;
    }
    .cul_menu li {
        width: 50%;
        max-width: 320px;
        height: 24.6875vmin;
    }
    .cul_menu li>a {
        height: 24.6875vmin;
        overflow: hidden;
        background-color: #255e8f;
    }
    .cul_menu li>a>p {
        font-size: 4vmin;
        top: 25%;
    }
    .cul_menu li::before {
        content: "";
        height: 24.6875vmin;
        display: block;
        position: absolute;
        background-color: rgba(49, 49, 49, 0.9);
    }

}